src/main/resources/xsd/CIS0367I01_v9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
   targetNamespace="http://eai.kasikornbank.com/EAIWS/CIS0367I01/v9"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:s1="http://eai.kasikornbank.com/EAIWS/CIS0367I01/v9"
   elementFormDefault="qualified" attributeFormDefault="qualified">

   <xsd:element name="doService" type="s1:doService"/>
   <xsd:element name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CIS0367I01" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="EAIHeader" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="serviceId" type="s1:stringLength12" nillable="true" />
                           <xsd:element name="beginTimestamp" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="endTimestamp" minOccurs="0" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="transactionId" minOccurs="0" type="s1:stringLength32" nillable="true" />
                           <xsd:element name="sourceTransactionId" minOccurs="0" type="xsd:string" nillable="true" />
                           <xsd:element name="sourceSystem" type="xsd:string" nillable="true" />
                           <xsd:element name="userId" minOccurs="0" type="xsd:string" nillable="true" />
                           <xsd:element name="password" minOccurs="0" type="xsd:string" nillable="true" />
                           <xsd:element name="status" minOccurs="0" type="s1:intLength1" nillable="true" />
                           <xsd:element name="reasonCode" minOccurs="0" type="s1:intLength5" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISCustomer" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="acctsObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="acctsVect" minOccurs="0" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="CISAccount" minOccurs="0" maxOccurs="1" >
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element name="num" type="s1:stringLength10" nillable="true" />
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="brNo" minOccurs="0" type="s1:stringLength4" nillable="true" />
                           <xsd:element name="docNum" minOccurs="0" type="s1:stringLength15" nillable="true" />
                           <xsd:element name="docTypeCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="num" minOccurs="0" type="s1:stringLength10" nillable="true" />
                           <xsd:element name="prodCode" minOccurs="0" type="s1:stringLength9" nillable="true" />
                           <xsd:element name="RMTeamObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="RMEmpObj" minOccurs="0" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="empNum" minOccurs="0" type="s1:stringLength6" nillable="true" />
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="servicesObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="servicesVect" minOccurs="0" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="CISEntities" minOccurs="0" maxOccurs="3" >
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element name="entitiesVect" minOccurs="0" >
                                                         <xsd:complexType>
                                                            <xsd:sequence>
                                                               <xsd:element name="CISATMEnty" minOccurs="0" maxOccurs="1" >
                                                                  <xsd:complexType>
                                                                     <xsd:sequence>
                                                                        <xsd:element name="num" minOccurs="0" type="s1:stringLength16" nillable="true" />
                                                                     </xsd:sequence>
                                                                  </xsd:complexType>
                                                               </xsd:element>
                                                               <xsd:element name="CISCrCardEnty" minOccurs="0" maxOccurs="1" >
                                                                  <xsd:complexType>
                                                                     <xsd:sequence>
                                                                        <xsd:element name="num" minOccurs="0" type="s1:stringLength16" nillable="true" />
                                                                     </xsd:sequence>
                                                                  </xsd:complexType>
                                                               </xsd:element>
                                                               <xsd:element name="CISLPMEnty" minOccurs="0" maxOccurs="1" >
                                                                  <xsd:complexType>
                                                                     <xsd:sequence>
                                                                        <xsd:element name="num" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                                                     </xsd:sequence>
                                                                  </xsd:complexType>
                                                               </xsd:element>
                                                            </xsd:sequence>
                                                         </xsd:complexType>
                                                      </xsd:element>
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="thFstName" minOccurs="0" type="s1:stringLength120" nillable="true" />
                           <xsd:element name="thLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                           <xsd:element name="typeCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISNavCntrl" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="dirCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="fstKeyNum" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="custNum" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                    <xsd:element name="thFstName" minOccurs="0" type="s1:stringLength120" nillable="true" />
                                    <xsd:element name="thLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="lstKeyNum" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="custNum" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                    <xsd:element name="thFstName" minOccurs="0" type="s1:stringLength120" nillable="true" />
                                    <xsd:element name="thLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CIS0367I01Response" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="EAIHeader" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="serviceId" type="s1:stringLength12" nillable="true" />
                           <xsd:element name="beginTimestamp" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="endTimestamp" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="transactionId" type="s1:stringLength32" nillable="true" />
                           <xsd:element name="sourceTransactionId" type="xsd:string" nillable="true" />
                           <xsd:element name="sourceSystem" type="xsd:string" nillable="true" />
                           <xsd:element name="userId" minOccurs="0" type="xsd:string" nillable="true" />
                           <xsd:element name="password" minOccurs="0" type="xsd:string" nillable="true" />
                           <xsd:element name="status" type="s1:intLength1" nillable="true" />
                           <xsd:element name="reasonCode" type="s1:intLength5" nillable="true" />
                           <xsd:element name="reasonDesc" type="xsd:string" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISCustomer" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="acctsObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="acctsVect" minOccurs="0" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="CISAccount" minOccurs="0" maxOccurs="1" >
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element name="num" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="RMTeamObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="RMEmpObj" minOccurs="0" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="empNum" minOccurs="0" type="s1:stringLength6" nillable="true" />
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="thFstName" minOccurs="0" type="s1:stringLength120" nillable="true" />
                           <xsd:element name="thLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                           <xsd:element name="typeCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISCustomers" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="CISCustsVect" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="CISCustomer" minOccurs="0" maxOccurs="20" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="brthDate" type="xsd:date" nillable="true" />
                                             <xsd:element name="chgNameFlag" type="s1:stringLength1" nillable="true" />
                                             <xsd:element name="coAcctRelationObj" minOccurs="0" >
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element name="ownerFlag" type="s1:stringLength1" nillable="true" />
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                             <xsd:element name="CVRSInfoObj" minOccurs="0" >
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element name="regulsObj" minOccurs="0" >
                                                         <xsd:complexType>
                                                            <xsd:sequence>
                                                               <xsd:element name="regulsVect" minOccurs="0" >
                                                                  <xsd:complexType>
                                                                     <xsd:sequence>
                                                                        <xsd:element name="CVRSRegulation" minOccurs="0" maxOccurs="1" >
                                                                           <xsd:complexType>
                                                                              <xsd:sequence>
                                                                                 <xsd:element name="actCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                                                                                 <xsd:element name="actDesc" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                                                                 <xsd:element name="rankCode" minOccurs="0" type="s1:stringLength3" nillable="true" />
                                                                                 <xsd:element name="subTypCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                                                                                 <xsd:element name="subTypCodeDesc" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                                                              </xsd:sequence>
                                                                           </xsd:complexType>
                                                                        </xsd:element>
                                                                     </xsd:sequence>
                                                                  </xsd:complexType>
                                                               </xsd:element>
                                                            </xsd:sequence>
                                                         </xsd:complexType>
                                                      </xsd:element>
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                             <xsd:element name="docNum" type="s1:stringLength15" nillable="true" />
                                             <xsd:element name="docTypeCode" type="s1:stringLength2" nillable="true" />
                                             <xsd:element name="num" type="s1:stringLength10" nillable="true" />
                                             <xsd:element name="prospectFlag" type="s1:stringLength1" nillable="true" />
                                             <xsd:element name="thFstName" type="s1:stringLength120" nillable="true" />
                                             <xsd:element name="thLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                             <xsd:element name="thMidName" minOccurs="0" type="s1:stringLength60" nillable="true" />
                                             <xsd:element name="thTitle" minOccurs="0" type="s1:stringLength20" nillable="true" />
                                             <xsd:element name="typeCode" type="s1:stringLength1" nillable="true" />
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="totCustCnt" type="s1:intLength5" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISNavCntrl" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="fstKeyNum" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="custNum" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                    <xsd:element name="terminateFlag" minOccurs="0" type="s1:stringLength1" nillable="true" />
                                    <xsd:element name="thFstName" minOccurs="0" type="s1:stringLength120" nillable="true" />
                                    <xsd:element name="thLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="lstKeyNum" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="custNum" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                    <xsd:element name="terminateFlag" minOccurs="0" type="s1:stringLength1" nillable="true" />
                                    <xsd:element name="thFstName" minOccurs="0" type="s1:stringLength120" nillable="true" />
                                    <xsd:element name="thLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="intLength1">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="1" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength5">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="5" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength10">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength12">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="12" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength120">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="120" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength16">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="16" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength20">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength3">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength4">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength50">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength6">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength60">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="60" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength9">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9" />
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>

<!--
Generated on: Fri Aug 28 12:09:53 ICT 2015
Generated by: com.tfb.eai.util.tool.generator.wsdl.v2.WSDLGenerator, version: 1.9
Generated host: LN5700188, IP: 10.212.238.95
-->
