src/main/resources/xsd/LMSProfileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
        targetNamespace="http://lms.corp.kbank.com/schema/LMSProfileService" 
        xmlns="http://lms.corp.kbank.com/schema/LMSProfileService" 
        xmlns:user="http://umm.corp.kbank.com/schema/UserManagement"
        xmlns:company="http://umm.corp.kbank.com/schema/CompanyManagement"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema targetNamespace="http://lms.corp.kbank.com/schema/LMSProfileService" >            
            <xsd:import namespace="http://umm.corp.kbank.com/schema/UserManagement" 
                    schemaLocation="UserManagement.xsd" />
            <xsd:import namespace="http://umm.corp.kbank.com/schema/CompanyManagement" 
                    schemaLocation="CompanyManagement.xsd" />
        </xsd:schema>
    </wsdl:types>

	<!-- Input/Output Definition (User) -->

    <wsdl:message name="inMessageUserCreate">
        <wsdl:part name="input" element="user:CreateUserReq" />
    </wsdl:message>
    <wsdl:message name="outMessageUserCreate">
        <wsdl:part name="result" element="user:CreateUserRes" />
    </wsdl:message>

    <wsdl:message name="inMessageUserModify">
        <wsdl:part name="input" element="user:ModifyUserReq" />
    </wsdl:message>
    <wsdl:message name="outMessageUserModify">
        <wsdl:part name="result" element="user:ModifyUserRes" />
    </wsdl:message>

    <wsdl:message name="inMessageUserDelete">
        <wsdl:part name="input" element="user:DeleteUserReq" />
    </wsdl:message>
    <wsdl:message name="outMessageUserDelete">
        <wsdl:part name="result" element="user:DeleteUserRes" />
    </wsdl:message>

    <wsdl:message name="inMessageUserCheckDelete">
        <wsdl:part name="input" element="user:CheckDeleteUserReq" />
    </wsdl:message>
    <wsdl:message name="outMessageUserCheckDelete">
        <wsdl:part name="result" element="user:CheckDeleteUserRes" />
    </wsdl:message>

	<!-- Input/Output Definition (Company) -->

    <wsdl:message name="inMessageCompanyCreate">
        <wsdl:part name="input" element="company:CreateCompanyReq" />
    </wsdl:message>
    <wsdl:message name="outMessageCompanyCreate">
        <wsdl:part name="result" element="company:CreateCompanyRes" />
    </wsdl:message>

    <wsdl:message name="inMessageCompanyModify">
        <wsdl:part name="input" element="company:ModifyCompanyReq" />
    </wsdl:message>
    <wsdl:message name="outMessageCompanyModify">
        <wsdl:part name="result" element="company:ModifyCompanyRes" />
    </wsdl:message>

    <wsdl:message name="inMessageCompanyDelete">
        <wsdl:part name="input" element="company:DeleteCompanyReq" />
    </wsdl:message>
    <wsdl:message name="outMessageCompanyDelete">
        <wsdl:part name="result" element="company:DeleteCompanyRes" />
    </wsdl:message>

    <wsdl:message name="inMessageCompanyCheckDelete">
        <wsdl:part name="input" element="company:CheckDeleteCompanyReq" />
    </wsdl:message>
    <wsdl:message name="outMessageCompanyCheckDelete">
        <wsdl:part name="result" element="company:CheckDeleteCompanyRes" />
    </wsdl:message>

	<!-- Service Definition -->

    <wsdl:portType name="LMSProfileService">
    
        <wsdl:operation name="createUser"  >
            <wsdl:input message="inMessageUserCreate" />
            <wsdl:output message="outMessageUserCreate" />
        </wsdl:operation>
        <wsdl:operation name="modifyUser"  >
            <wsdl:input message="inMessageUserModify" />
            <wsdl:output message="outMessageUserModify" />
        </wsdl:operation>
        <wsdl:operation name="deleteUser"  >
            <wsdl:input message="inMessageUserDelete" />
            <wsdl:output message="outMessageUserDelete" />
        </wsdl:operation>
        <wsdl:operation name="checkDeleteUser"  >
            <wsdl:input message="inMessageUserCheckDelete" />
            <wsdl:output message="outMessageUserCheckDelete" />
        </wsdl:operation>
        
      	<wsdl:operation name="createCompany"  >
            <wsdl:input message="inMessageCompanyCreate" />
            <wsdl:output message="outMessageCompanyCreate" />
        </wsdl:operation>
        <wsdl:operation name="modifyCompany"  >
            <wsdl:input message="inMessageCompanyModify" />
            <wsdl:output message="outMessageCompanyModify" />
        </wsdl:operation>
        <wsdl:operation name="deleteCompany"  >
            <wsdl:input message="inMessageCompanyDelete" />
            <wsdl:output message="outMessageCompanyDelete" />
        </wsdl:operation>
        <wsdl:operation name="checkDeleteCompany"  >
            <wsdl:input message="inMessageCompanyCheckDelete" />
            <wsdl:output message="outMessageCompanyCheckDelete" />
        </wsdl:operation>
                
    </wsdl:portType>

	<!-- HTTP Binding -->

    <wsdl:binding name="LMSProfileServiceHTTPBinding" type="LMSProfileService">
        <wsdlsoap:binding style="document" 
            transport="http://schemas.xmlsoap.org/soap/http"/>
            
        <wsdl:operation name="createUser">
            <wsdlsoap:operation soapAction=""/>
             <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modifyUser">
            <wsdlsoap:operation soapAction=""/>
             <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <wsdlsoap:operation soapAction=""/>
             <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>        
        <wsdl:operation name="checkDeleteUser">
            <wsdlsoap:operation soapAction=""/>
             <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="createCompany">
            <wsdlsoap:operation soapAction=""/>
             <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modifyCompany">
            <wsdlsoap:operation soapAction=""/>
             <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteCompany">
            <wsdlsoap:operation soapAction=""/>
             <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>        
        <wsdl:operation name="checkDeleteCompany">
            <wsdlsoap:operation soapAction=""/>
             <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>

    <wsdl:service name="LMSProfileService">
        <wsdl:port binding="LMSProfileServiceHTTPBinding"  name="LMSProfileServicePort">
            <wsdlsoap:address location="http://localhost:8080/LMSMasterSetup/LMSProfileService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
